<p class="section-heading mb-8">ABOUT ME</p>
<div class="mrl-8 mb-10">
    <div class="outer-card">
        <div class="inner-card">
            Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque
            volutpat condimentum velit class aptent taciti sociosqu ad litora.
            Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque 
            volutpat condimentum velit class aptent taciti sociosqu ad litora 
            torquent metus metus ullamcorper vel tincidunt sed class aptent 
            taciti sociosqu ad litora .
        </div>
    </div>
</div>