<div class="footer-container" fxLayout="column" fxLayoutGap="10px">
    <div class="footer-signature">\/ Harshit /\</div>
    <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="center center"
        fxLayoutGap.lt-sm="5vw" class="iconsContainer">
        <div class="iconContainer" *ngFor="let icon of iconList">
            <a href="{{icon.link}}" target="_blank">
                <img src="{{'./../../../assets/images/' + icon.fileName + '.svg'}}"
                alt="{{icon.alternateName}}" class="socialMediaIcon">
            </a>
        </div>
    </div>
    <div class="footer-copyright">@COPYRIGHT 2018 ALL RIGHTS RESERVED</div>
</div>