$first-container-height: 100vh!important;

.first-container {
    height: $first-container-height;
}
.second-container {
    background-color: white;
    text-align: center;
    font-weight: bold;
}
.left-container {
    padding: 5vh;
    text-align: center;
    background-color: #dddddd;
    height: $first-container-height;
    background: linear-gradient(45deg, white, #999999);
    background-size: 50% 50%;
    animation: gradient 15s ease infinite forwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
    }
    25% {
        background-position: 0% 100%;
    }
	50% {
		background-position: 100% 100%;
    }
    75% {
        background-position: 100% 0%;
    }
	100% {
		background-position: 0% 0%;
    }
}

.right-container {
    background-color: #090909;
    padding: 40vh 0vw 10vh 10vw;
    height: $first-container-height;
}
.profilePage {
    height: 90vh;
    width: 25vw;
}
.title, .name, .role {
    color: #eeeeee;
}
.title {
    font-size: 18px;
    font-weight: bold;
}
.name {
    font-size: 75px;
    line-height: 105%;
}
.role {
    font-size: 15px;
    font-weight: bold;
}

.lowerNavigationBox {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px 20px 15px 25px;
    margin-top: 50px;
    width: fit-content;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 150%;
}

.lowerNavigationBox:hover {
    animation: increaseWidth 0.5s 1 forwards;
    cursor: pointer;
}

@keyframes increaseWidth {
    from { font-size: 15px; }
    to { font-size: 18px; }
}

@media only screen and (max-width: 600px) {
    .left-container {
        display: none;
    }
}
.top-curve-svg {
    margin-top: -175px;
}
.bottom-curve-svg {
    margin-bottom: -10px;
}