<div class="primary-container">
  <div fxLayout="row" fxLayoutAlign="start start" class="first-container rellax" data-rellax-speed="5">
    <!-- <div class="left-container" fxFlex="30%">
      <img class="profilePage" src="./../../../assets/images/Profile pic.svg">
    </div> -->
    <div class="right-container" fxFlex fxLayout="column" fxLayoutAlign="start start"
      fxLayoutGap="50px" fxLayoutAlign.lt-sm="center center">
      <div [@elementAnimation]="inFocus ? 'final' : 'initial'" fxLayout="column" fxLayoutAlign="start start"
        fxLayoutAlign.lt-sm="start center">
        <div class="title">THE PORTFOLIO OF</div>
        <div class="name">HARSHIT<br>AGRAWAL</div>
        <div class="role">AN ASPIRING WEB DEVELOPER AND DATA ANALYST</div>
      </div>
      <div [@elementAnimation]="inFocus ? 'final' : 'initial'" fxLayout="row" fxLayoutGap="5vw"
        fxLayout.lt-sm="column" fxLayoutGap.lt-sm="5vh"
        fxLayoutAlign.lt-sm="start center" class="first-navigation">
        <div class="button primary-button" fxLayout="row" fxLayoutAlign="start start"
          (click)="scrollToElement('myprojects')">
          <span>View my work</span>
          <img src="./../../../assets/images/down-arrow.svg" height="25px" width="30px">
        </div>
        <div class="button secondary-button" fxLayout="row" fxLayoutAlign="start start"
          (click)="scrollToElement('footer')">
          <span>Contact me</span>
          <img src="./../../../assets/images/down-arrow-light.svg" height="25px" width="30px">
        </div>
      </div>
    </div>
  </div>

  <div class="second-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none" width="100%" class="top-curve-svg">
        <path fill="#ffffff" fill-opacity="1" d="M0,256L48,250.7C96,245,192,235,288,240C384,245,480,267,576,250.7C672,235,768,181,864,165.3C960,149,1056,171,1152,181.3C1248,192,1344,192,1392,192L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>
      <app-about-me id="aboutme" [focusAboutMe]=focusAboutMe></app-about-me>
      <app-my-projects id="myprojects" [focusProjects]=focusProjects></app-my-projects>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 170" preserveAspectRatio="none" width="100%" class="bottom-curve-svg">
        <path fill="#090909" fill-opacity="1" d="M0,160L60,144C120,128,240,96,360,90.7C480,85,600,107,720,106.7C840,107,960,85,1080,74.7C1200,64,1320,64,1380,64L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
      </svg>
    </div>
</div>