$primary-color: #090909;
$secondary-color: #bfbfbf;
$tertiary-color: #999999;

$primary-text-color: #bfbfbf;
$secondary-text-color: #090909;
$tertiary-text-color: #999999;

$lightest-background: #eeeeee;
$lightest-text-color: #eeeeee;
$darkest-text-color: #090909;
$darkest-background: #090909;

$highlight-text-color: #444444;