$spacer: 5px;

.m-0 {margin: ($spacer * 0) !important}
.m-1 {margin: ($spacer * 1) !important}
.m-2 {margin: ($spacer * 2) !important}
.m-3 {margin: ($spacer * 3) !important}
.m-4 {margin: ($spacer * 4) !important}
.m-5 {margin: ($spacer * 5) !important}
.m-6 {margin: ($spacer * 6) !important}
.m-7 {margin: ($spacer * 7) !important}
.m-8 {margin: ($spacer * 8) !important}
.m-9 {margin: ($spacer * 9) !important}
.m-10 {margin: ($spacer * 10) !important}

.mr-0 {margin-right: ($spacer * 0) !important}
.mr-1 {margin-right: ($spacer * 1) !important}
.mr-2 {margin-right: ($spacer * 2) !important}
.mr-3 {margin-right: ($spacer * 3) !important}
.mr-4 {margin-right: ($spacer * 4) !important}
.mr-5 {margin-right: ($spacer * 5) !important}
.mr-6 {margin-right: ($spacer * 6) !important}
.mr-7 {margin-right: ($spacer * 7) !important}
.mr-8 {margin-right: ($spacer * 8) !important}
.mr-9 {margin-right: ($spacer * 9) !important}
.mr-10 {margin-right: ($spacer * 10) !important}

.ml-0 {margin-left: ($spacer * 0) !important}
.ml-1 {margin-left: ($spacer * 1) !important}
.ml-2 {margin-left: ($spacer * 2) !important}
.ml-3 {margin-left: ($spacer * 3) !important}
.ml-4 {margin-left: ($spacer * 4) !important}
.ml-5 {margin-left: ($spacer * 5) !important}
.ml-6 {margin-left: ($spacer * 6) !important}
.ml-7 {margin-left: ($spacer * 7) !important}
.ml-8 {margin-left: ($spacer * 8) !important}
.ml-9 {margin-left: ($spacer * 9) !important}
.ml-10 {margin-left: ($spacer * 10) !important}

.mt-0 {margin-top: ($spacer * 0) !important}
.mt-1 {margin-top: ($spacer * 1) !important}
.mt-2 {margin-top: ($spacer * 2) !important}
.mt-3 {margin-top: ($spacer * 3) !important}
.mt-4 {margin-top: ($spacer * 4) !important}
.mt-5 {margin-top: ($spacer * 5) !important}
.mt-6 {margin-top: ($spacer * 6) !important}
.mt-7 {margin-top: ($spacer * 7) !important}
.mt-8 {margin-top: ($spacer * 8) !important}
.mt-9 {margin-top: ($spacer * 9) !important}
.mt-10 {margin-top: ($spacer * 10) !important}

.mb-0 {margin-bottom: ($spacer * 0) !important}
.mb-1 {margin-bottom: ($spacer * 1) !important}
.mb-2 {margin-bottom: ($spacer * 2) !important}
.mb-3 {margin-bottom: ($spacer * 3) !important}
.mb-4 {margin-bottom: ($spacer * 4) !important}
.mb-5 {margin-bottom: ($spacer * 5) !important}
.mb-6 {margin-bottom: ($spacer * 6) !important}
.mb-7 {margin-bottom: ($spacer * 7) !important}
.mb-8 {margin-bottom: ($spacer * 8) !important}
.mb-9 {margin-bottom: ($spacer * 9) !important}
.mb-10 {margin-bottom: ($spacer * 10) !important}

.mrl-0 {margin-right: ($spacer * 0) !important; margin-left: ($spacer * 0) !important}
.mrl-1 {margin-right: ($spacer * 1) !important; margin-left: ($spacer * 0) !important}
.mrl-2 {margin-right: ($spacer * 2) !important; margin-left: ($spacer * 0) !important}
.mrl-3 {margin-right: ($spacer * 3) !important; margin-left: ($spacer * 0) !important}
.mrl-4 {margin-right: ($spacer * 4) !important; margin-left: ($spacer * 0) !important}
.mrl-5 {margin-right: ($spacer * 5) !important; margin-left: ($spacer * 0) !important}
.mrl-6 {margin-right: ($spacer * 6) !important; margin-left: ($spacer * 0) !important}
.mrl-7 {margin-right: ($spacer * 7) !important; margin-left: ($spacer * 0) !important}
.mrl-8 {margin-right: ($spacer * 8) !important; margin-left: ($spacer * 0) !important}
.mrl-9 {margin-right: ($spacer * 9) !important; margin-left: ($spacer * 0) !important}
.mrl-10 {margin-right: ($spacer * 10) !important; margin-left: ($spacer * 0) !important}

.mtb-0 {margin-top: ($spacer * 0) !important; margin-bottom: ($spacer * 0) !important}
.mtb-1 {margin-top: ($spacer * 1) !important; margin-bottom: ($spacer * 0) !important}
.mtb-2 {margin-top: ($spacer * 2) !important; margin-bottom: ($spacer * 0) !important}
.mtb-3 {margin-top: ($spacer * 3) !important; margin-bottom: ($spacer * 0) !important}
.mtb-4 {margin-top: ($spacer * 4) !important; margin-bottom: ($spacer * 0) !important}
.mtb-5 {margin-top: ($spacer * 5) !important; margin-bottom: ($spacer * 0) !important}
.mtb-6 {margin-top: ($spacer * 6) !important; margin-bottom: ($spacer * 0) !important}
.mtb-7 {margin-top: ($spacer * 7) !important; margin-bottom: ($spacer * 0) !important}
.mtb-8 {margin-top: ($spacer * 8) !important; margin-bottom: ($spacer * 0) !important}
.mtb-9 {margin-top: ($spacer * 9) !important; margin-bottom: ($spacer * 0) !important}
.mtb-10 {margin-top: ($spacer * 10) !important; margin-bottom: ($spacer * 0) !important}

.p-0 {margin: ($spacer * 0) !important}
.p-1 {margin: ($spacer * 1) !important}
.p-2 {margin: ($spacer * 2) !important}
.p-3 {margin: ($spacer * 3) !important}
.p-4 {margin: ($spacer * 4) !important}
.p-5 {margin: ($spacer * 5) !important}
.p-6 {margin: ($spacer * 6) !important}
.p-7 {margin: ($spacer * 7) !important}
.p-8 {margin: ($spacer * 8) !important}
.p-9 {margin: ($spacer * 9) !important}
.p-10 {margin: ($spacer * 10) !important}

.pr-0 {padding-right: ($spacer * 0) !important}
.pr-1 {padding-right: ($spacer * 1) !important}
.pr-2 {padding-right: ($spacer * 2) !important}
.pr-3 {padding-right: ($spacer * 3) !important}
.pr-4 {padding-right: ($spacer * 4) !important}
.pr-5 {padding-right: ($spacer * 5) !important}
.pr-6 {padding-right: ($spacer * 6) !important}
.pr-7 {padding-right: ($spacer * 7) !important}
.pr-8 {padding-right: ($spacer * 8) !important}
.pr-9 {padding-right: ($spacer * 9) !important}
.pr-10 {padding-right: ($spacer * 10) !important}

.pl-0 {padding-left: ($spacer * 0) !important}
.pl-1 {padding-left: ($spacer * 1) !important}
.pl-2 {padding-left: ($spacer * 2) !important}
.pl-3 {padding-left: ($spacer * 3) !important}
.pl-4 {padding-left: ($spacer * 4) !important}
.pl-5 {padding-left: ($spacer * 5) !important}
.pl-6 {padding-left: ($spacer * 6) !important}
.pl-7 {padding-left: ($spacer * 7) !important}
.pl-8 {padding-left: ($spacer * 8) !important}
.pl-9 {padding-left: ($spacer * 9) !important}
.pl-10 {padding-left: ($spacer * 10) !important}

.pt-0 {padding-top: ($spacer * 0) !important}
.pt-1 {padding-top: ($spacer * 1) !important}
.pt-2 {padding-top: ($spacer * 2) !important}
.pt-3 {padding-top: ($spacer * 3) !important}
.pt-4 {padding-top: ($spacer * 4) !important}
.pt-5 {padding-top: ($spacer * 5) !important}
.pt-6 {padding-top: ($spacer * 6) !important}
.pt-7 {padding-top: ($spacer * 7) !important}
.pt-8 {padding-top: ($spacer * 8) !important}
.pt-9 {padding-top: ($spacer * 9) !important}
.pt-10 {padding-top: ($spacer * 10) !important}

.pb-0 {padding-bottom: ($spacer * 0) !important}
.pb-1 {padding-bottom: ($spacer * 1) !important}
.pb-2 {padding-bottom: ($spacer * 2) !important}
.pb-3 {padding-bottom: ($spacer * 3) !important}
.pb-4 {padding-bottom: ($spacer * 4) !important}
.pb-5 {padding-bottom: ($spacer * 5) !important}
.pb-6 {padding-bottom: ($spacer * 6) !important}
.pb-7 {padding-bottom: ($spacer * 7) !important}
.pb-8 {padding-bottom: ($spacer * 8) !important}
.pb-9 {padding-bottom: ($spacer * 9) !important}
.pb-10 {padding-bottom: ($spacer * 10) !important}

.prl-0 {padding-right: ($spacer * 0) !important; padding-left: ($spacer * 0) !important}
.prl-1 {padding-right: ($spacer * 1) !important; padding-left: ($spacer * 0) !important}
.prl-2 {padding-right: ($spacer * 2) !important; padding-left: ($spacer * 0) !important}
.prl-3 {padding-right: ($spacer * 3) !important; padding-left: ($spacer * 0) !important}
.prl-4 {padding-right: ($spacer * 4) !important; padding-left: ($spacer * 0) !important}
.prl-5 {padding-right: ($spacer * 5) !important; padding-left: ($spacer * 0) !important}
.prl-6 {padding-right: ($spacer * 6) !important; padding-left: ($spacer * 0) !important}
.prl-7 {padding-right: ($spacer * 7) !important; padding-left: ($spacer * 0) !important}
.prl-8 {padding-right: ($spacer * 8) !important; padding-left: ($spacer * 0) !important}
.prl-9 {padding-right: ($spacer * 9) !important; padding-left: ($spacer * 0) !important}
.prl-10 {padding-right: ($spacer * 10) !important; padding-left: ($spacer * 0) !important}

.ptb-0 {padding-top: ($spacer * 0) !important; padding-bottom: ($spacer * 0) !important}
.ptb-1 {padding-top: ($spacer * 1) !important; padding-bottom: ($spacer * 0) !important}
.ptb-2 {padding-top: ($spacer * 2) !important; padding-bottom: ($spacer * 0) !important}
.ptb-3 {padding-top: ($spacer * 3) !important; padding-bottom: ($spacer * 0) !important}
.ptb-4 {padding-top: ($spacer * 4) !important; padding-bottom: ($spacer * 0) !important}
.ptb-5 {padding-top: ($spacer * 5) !important; padding-bottom: ($spacer * 0) !important}
.ptb-6 {padding-top: ($spacer * 6) !important; padding-bottom: ($spacer * 0) !important}
.ptb-7 {padding-top: ($spacer * 7) !important; padding-bottom: ($spacer * 0) !important}
.ptb-8 {padding-top: ($spacer * 8) !important; padding-bottom: ($spacer * 0) !important}
.ptb-9 {padding-top: ($spacer * 9) !important; padding-bottom: ($spacer * 0) !important}
.ptb-10 {padding-top: ($spacer * 10) !important; padding-bottom: ($spacer * 0) !important}
