@import './../../../themes/dark-theme.scss';

.project-card {
    display: table;
    width: 100%;
}

.left-project-card {
    width: 30%;
    max-width: 30%;
    display: table-cell;
    vertical-align: top;
    background: radial-gradient(rgba($primary-color, 0.8), rgba($primary-color, 0.95));
    &:hover {
        cursor: pointer;
        // animation: gradientBackground 0.5s linear forwards;
    }
}

.right-project-card {
    width: 70%;
    max-width: 70%;
    font-weight: bold;
    text-align: left;
    display: table-cell;
    vertical-align: top;
    color: $primary-color;
}

.right-inner-project-card {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 0px 0px 1px 0px;
    border-image-source: linear-gradient(to right, rgba($primary-color, 0.7), rgba($primary-color, 0));
}

@keyframes gradientBackground {
    from {opacity: 1}
    to {opacity: 0}
}

.gitHubLink {
    padding-bottom: 1px;
    border-bottom: 1px solid rgba($primary-color, 0.5);
    &:hover {
        cursor: pointer;
    }
}

.gitHubText {
    margin-top: -7px;
}

@media only screen and (max-width: 600px) {
    .project-card {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(to bottom, rgba($primary-color, 0.7), rgba($primary-color, 0)) 1 100%;
    }
    .left-project-card {
        display: block;
        width: calc(100% - 50px);
        max-width: calc(100% - 50px);
    }
    .right-project-card {
        display: block;
        width: calc(100% - 25px);
        max-width: calc(100% - 25px);
    }
    .right-inner-project-card {
        border-bottom: 0px;
    }
}