<p class="section-heading mb-8">MY PROJECTS</p>
<div class="project-card-container mrl-8 mb-8" fxLayout="column" fxLayoutGap="40px"
    fxLayoutAlign="start start" fxLayoutGap.lt-sm="10px" [ngClass.lt-sm]="{'mrl-4': true, 'mrl-8': false}">
    <div [@elementAnimation]="inFocus ? 'final' : 'initial'" *ngFor="let project of myProjects" class="project-card">
        <div class="left-project-card p-5">
            <h4>{{project.title}}</h4>
        </div>
        <div class="right-project-card">
            <div class="ml-5 pb-5 right-inner-project-card">
                <h5 [innerHTML]="project.description"></h5>
                <h6 [ngClass.lt-sm]="{'mt-3': true}">Technologies used: <span>{{project.technologiesUsed}}</span></h6>
                <h6 class="gitHubText">Check it out on <span class="gitHubLink">
                    <a href="{{project.gitHubLink}}" target="_blank"
                        (click)="sendGitHubEvent(project.title)">GitHub
                    </a></span>
                </h6>
            </div>
        </div>
    </div>
</div>