<p class="section-heading removeColor mb-8">PROJECTS</p>
<div class="project-card-container mrl-8 mb-8" fxLayout="column"
    fxLayoutGap="40px" fxLayoutAlign="start start">
    <div *ngFor="let project of myProjects" class="project-card">
        <div class="left-project-card p-5">
            <h4>{{project.title}}</h4>
        </div>
        <div class="right-project-card pl-5 ptb-0" [ngClass.lt-sm]="{'pr-5': true}">
            <h5 [innerHTML]="project.description"></h5>
            <h6>Technologies used: {{project.technologiesUsed}}</h6>
            <h6>Check it out on <span class="gitHubLink" routerLink="/#">GitHub</span></h6>
        </div>
    </div>
</div>