@import './../../../themes/dark-theme.scss';

.removeColor {
    color: white !important;
}

.project-card-container {
    margin: 0px 40px;
}

.project-card {
    margin-bottom: 35px;
    // text-align: justify;
    padding: 25px;
    background: rgba($primary-color, 0.9);
    &:hover {
        cursor: pointer;
        // animation: gradientBackground 2s linear forwards;
    }
}

@keyframes gradientBackground {
    from {background: $secondary-color}
    to {background: radial-gradient($secondary-color, rgba($primary-color, 0.5))}
}