@import './themes/dark-theme.scss';

body {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
}
p {
    color: $primary-text-color;
}
.button {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px 20px 15px 25px;
    width: fit-content;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 150%;
    &:hover {
        animation: increaseWidth 0.5s 1 forwards;
        cursor: pointer;
    }
}

@keyframes increaseWidth {
    from { font-size: 15px; }
    to { font-size: 18px; }
}

.primary-button {
    background-color: $secondary-color;
    color: $secondary-text-color;
}
.secondary-button {
    border: 1px solid $secondary-color;
    background-color: inherit;
    color: $primary-text-color;
}

.section-heading {
    text-shadow: 2px 0 0 $secondary-text-color, -2px 0 0 $secondary-text-color, 0 2px 0 $secondary-text-color, 0 -2px 0 $secondary-text-color,
        1px 1px $secondary-text-color, -1px -1px 0 $secondary-text-color, 1px -1px 0 $secondary-text-color, -1px 1px 0 $secondary-text-color;
    font-family: 'Sigmar One', cursive;
    color: $lightest-text-color;
    font-size: 50px;
    font-weight: bolder;
    &::selection {
        background: $highlight-text-color;
    }
    &::-moz-selection {
        background: $highlight-text-color;
    }
}

@media only screen and (max-width: 1007px) { // md devices

}

@media only screen and (max-width: 600px) { // sm devices
    .button {
        padding: 10px 15px 10px 20px;
    }
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
    background: linear-gradient($primary-color, $secondary-color, $primary-color);
    border-radius: 7.5px;
}
::-webkit-scrollbar-thumb {
    background: rgba($primary-color, 0.6);
    border-radius: 7.5px;
    &:hover {
        background-color: rgba($primary-color, 0.8);
    }
}